# Question 1
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement

In [9]:
a = 0
def b():
 global a    
 a = c(a)   
def c(a):
 return a + 2
b() #A
b() #B
b() #C
a

6

Explaination 
when b() is called at Comment A , compiler goes to where function b is defined.At 2nd line of b(),presense of "global" indicates that any changes to variable "a" ( which has value as 0) will done globaly not locally. Hence the same variable is passed to function c which in return changing the value for a to a + 2 that is 0 + 2 = 2, hence a is 2 at the moment.
Now B is called again at Comment B with no change in definition, now a will be considered again but with value 2 as changed in previous step. As a result of C , the value is changed to a + 2 that 2 + 2 , Hence a becomes 4.
Similiarly at Comment C, a becomes a + 2 that is 4 +2 = 6( 4 as global value for variable a).
at last when a is called, it prints 6.

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

In [8]:
def fileLength(fileName):
    try:                                           
        f=open(fileName)
        content=f.read()
        ln=len(content)
        f.close()
        print(ln)
    except FileNotFoundError:                                  
        print('The File with name as ' + fileName + ' not found.')     
                                                   
        
fileLength('File.txt')  
fileLength('midterm.py')

The File with name as File.txt not found.
The File with name as midterm.py not found.

# Question 3
Write a Class name Marsupial That can be used as shown below:

In [2]:
class Marsupial:
    def __init__(self):
        self.lst = []
    def put_in_pouch(self,item):
        self.lst.append(item)
    def pouch_contents(self):
        print(self.lst)
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a. extends the Marsupial init constructor to take, as input, the coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis,
c. overloads the str operator so it behaves as shown below.

In [5]:
class Kangaroo(Marsupial):
    def __init__(self,x,y):        
        Marsupial.__init__(self)
        self.x = x
        self.y = y
        
    def jump(self,dx,dy):          
        self.x += dx
        self.y += dy

    def __str__(self):            
        return f'I am a Kangaroo located at co-ordinates ({self.x},{self.y})'
    
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at co-ordinates (0,0)

In [6]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [7]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at co-ordinates (3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x.

In [15]:
def collatz(x):
    if x == 1:               
        print(x)
    elif x%2==0:   
        print(x)
        collatz(int(x/2))
    else:
        print(x)
        collatz(int(x*3+1))
collatz(1)

1

In [16]:
collatz(10)

10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n

In [1]:
try:
    def binary(n):
        if n == 0:
            return 0
        else:
            binary(n//2)
        print(n % 2,end = '')

    num = int(input(" Enter non-negative integer n :"))
    binary(num)
except ValueError:
    print(" Enter Correct Integer")

 Enter non-negative integer n :10
1010

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document.

In [3]:
from html.parser import HTMLParser
# for this code, I have referred to DOC - https://docs.python.org/3/library/html.parser.html
class HeadingParser(HTMLParser):
    tags = ["h1", "h2","h3","h4","h5","h6"]
    pointer = -1

    def handle_starttag(self, tag, attrs):      
        if tag in HeadingParser.tags:         
            HeadingParser.pointer = HeadingParser.tags.index(tag)
    
    def handle_endtag(self, tag):                
        if tag == HeadingParser.tags[HeadingParser.pointer]:          
            HeadingParser.pointer = HeadingParser.pointer-1
            
    def handle_data(self, data):
        if HeadingParser.pointer >= 0:
            print(" " * HeadingParser.pointer + data)
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL

In [61]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Html_Reader(HTMLParser):

  def __init__(self, url):
      #initializes parser, the url, and a list
      HTMLParser.__init__(self)
      self.url = url
      self.links = []


  def handle_starttag(self, tag, attrs):
      if tag == 'a':
          for each in attrs:          
              if each[0] == 'href': 
                  absolute = urljoin(self.url, each[1])
                  if absolute[:4] == 'http':
                      self.links.append(absolute)

  def getLinks(self):
    return self.links


def webdir(url,depth,indent):
        resource = urlopen(url)
        content = resource.read().decode()
        html_reader = Html_Reader(url) # creating oject for HTML_reader with URL as parameter.
        html_reader.feed(content) # passing user url to the HTMLPARSER class in order to get links parents on the page.                   
        urls = html_reader.getLinks() #getting list of links in the the current opened page 
        print(indent*" " + url)
        if depth == 0:
            return 
        for each in urls: 
            webdir(each, depth-1, indent+1)    # recurssion method used to process urls found on the parent page.




webdir('http://reed.cs.depaul.edu/lperkovic/test1.html',2,0)

http://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test4.html
 http://reed.cs.depaul.edu/lperkovic/test3.html
  http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [4]:
import sqlite3
connection = sqlite3.connect('ipydb.db')
cur = connection.cursor()
cur.execute("CREATE TABLE city_weather (City text, Country text, Season text,Temperature float,Rainfall float)")

In [6]:
cur.execute("INSERT INTO city_weather VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO city_weather VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO city_weather VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
cur.execute("INSERT INTO city_weather VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO city_weather VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
cur.execute("INSERT INTO city_weather VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO city_weather VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO city_weather VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO city_weather VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO city_weather VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO city_weather VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO city_weather VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

a) All the temperature data.

In [22]:
cur.execute('SELECT temperature FROM city_weather')
print("TEMPERATURE:")
print(*cur.fetchall() , sep = "\n")

TEMPERATURE:
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [ ]:
b) All the cities, but without repetition.

In [24]:
cur.execute('SELECT DISTINCT City FROM city_weather')
print("DISTINCT CITY:")
print(*cur.fetchall() , sep = "\n")

DISTINCT CITY:
('Mumbai',)
('London',)
('Cairo',)

c) All the records for India.

In [26]:
cur.execute("SELECT * FROM city_weather WHERE Country='India'")
print("FOR INDIA")
print(*cur.fetchall() , sep = "\n")

FOR INDIA
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

d) All the Fall records.

In [28]:
cur.execute("SELECT * FROM city_weather WHERE Season='Fall'")
print("FALL:")
print(*cur.fetchall() , sep = "\n")

FALL:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

In [29]:
cur.execute("SELECT City,country,Season FROM city_weather WHERE Rainfall BETWEEN 200 AND 400")
print("RAINFALL BETWEEN 200 AND 400:")
print(*cur.fetchall() , sep = "\n")

RAINFALL BETWEEN 200 AND 400:
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

In [30]:
cur.execute("SELECT City,country FROM city_Weather WHERE Season='Fall' AND temperature > 20 ORDER BY temperature ASC")
print("TEMPERATURE ABOVE 20:")
print(*cur.fetchall() , sep = "\n")

TEMPERATURE ABOVE 20:
('Cairo', 'Egypt')
('Mumbai', 'India')

g) The total annual rainfall for Cairo

In [33]:
cur.execute("SELECT SUM(Rainfall) FROM city_Weather WHERE City='Cairo'")
print("Total annual rainfall for Cairo:")
print(*cur.fetchall() , sep = "\n")

Total annual rainfall for Cairo:
(27.6,)

h) The total rainfall for each season.

In [35]:
cur.execute("SELECT SEASON,SUM(Rainfall) FROM city_weather GROUP BY Season")
print("Total rainfall for each season:")
print(*cur.fetchall() , sep = "\n")

Total rainfall for each season:
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

# Question 9
. Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:

In [36]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

A) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']

In [37]:
a = [each.upper() for each in words]
print (a)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

B) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [38]:
b = [each.lower() for each in words]
print(b)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

C) the list of lengths of words in list words

In [39]:
c = [len(each) for each in words]
print(c)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

D) the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.

In [40]:
d = [[item.upper(),item.lower(),len(item)] for item in words]
print(d)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

E) (the list of words in list words containing 4 or more
characters. )

In [41]:
e = [item for item in words if len(item)>=4]
print(e)

['quick', 'brown', 'jumps', 'over', 'lazy']